include pathpy/config.cfg
include pathpy/visualisations/template/*
include pathpy/visualisations/template/network/*
include pathpy/visualisations/template/network/css/*
include pathpy/visualisations/template/network/js/*
include pathpy/visualisations/template/network/lib/*
include pathpy/visualisations/template/network/data/*