include pathpy/config.cfg
include pathpy/visualizations/network/*
include pathpy/visualizations/network/js/*
include pathpy/visualizations/network/lib/*
include pathpy/visualizations/network/data/*
include pathpy/visualizations/network/css/*