include pathpy/config.cfg
include pathpy/visualisations/templates/*
include pathpy/visualisations/templates/network/*
include pathpy/visualisations/templates/network/css/*
include pathpy/visualisations/templates/network/js/*
include pathpy/visualisations/templates/network/lib/*
include pathpy/visualisations/templates/network/data/*