body {
    margin: 0;
}

svg {
    position: fixed;
    font: 12px sans-serif;
} 

svg circle.node {
  fill: #3b5998;
  stroke: #1b3978;
  stroke-width: 5.5px;
  r: 15px;
  opacity: 1;
}

svg line.edge {
  stroke: #222;
  stroke-opacity: .6;
  stroke-width: 4px;
}

.node.fixed {
  fill: #fff;
}


.pp_container {
  padding: 5px 0 10px 0;
  margin: auto;
}

.controls {
  width: 100%;
  float: right;
  margin-bottom: 5px;
}


.control {
    display:inline-block;
  padding: 5px 6px 5px 6px;
}

/* Button  */
.control button {
    background-color: #6cc6d9; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 0px 2px 0px 2px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.control button:hover {
    background-color: #555; /* Gray */
  color: white;
}

.control button.active {
  color: white;
  background: #555;
}

#pp_slider_label {
    font-size: 12px;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-past {
    stroke: #ffa500;
    stroke-width: 8px;
    stroke-opacity: 0.2;
    stroke-linecap: round;
}

.track-future {
    stroke: #008000;
    stroke-width: 8px;
    stroke-opacity: 0.2;
    stroke-linecap: round;

}

.track-aggregation {
    stroke: #ff0000;
    stroke-width: 8px;
    stroke-opacity: 0.3;
    stroke-linecap: round;

}

.track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

.handle:hover {
    fill: #ffa500;
}


.handle:active {
    fill: #6cc6d9;
}
